
<div class="container">
    <span class="">
        <h2 style="display: inline-block;">Welcome to Daily Expense Manager</h2>
        <button class="btn btn-secondary" style="display: inline-block; margin-left: 5%;" routerLink="">Logout</button>
    </span>
    <hr>

    <div class="container">
        <h4>List of Incomes</h4>
        <hr>
        <table>
            <tr>
                <th>ID.</th>
                <th>Category ID</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Income Date</th>
            </tr>
            <tr class="to-update" *ngFor="let money of incomes" cursor:pointer routerLink="/edit-income/{{money.id}}">
                <td>{{money.id}}</td>
                <td>{{money.category_id}}</td>
                <td>{{money.amount}}</td>
                <td>{{money.description}}</td>
                <td>{{money.date}}</td>
                <i class="card-action" (click)="deleteIncome(money.id)">X</i>
            </tr>
        </table>
        <hr>
        <div class="total">
            <h4>Total Income : {{totalinc}}</h4>    
        </div>
    </div>
 
    <div class="container" style="margin-top: 8%;">
        <h4>List of Expenses</h4>
        <hr>
        <table>
            <tr>
                <th>ID.</th>
                <th>Category ID</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Income Date</th>
            </tr>
            <tr class="to-update" *ngFor="let money of expenses" routerLink="/edit-expense/{{money.id}}">
                <td>{{money.id}}</td>
                <td>{{money.category_id}}</td>
                <td>{{money.amount}}</td>
                <td>{{money.description}}</td>
                <td>{{money.date}}</td>
                <i class="card-action" (click)="deleteExpense(money.id)">X</i>
            </tr>
        </table>
        <hr>
        <div class="total">
            <h4>Total Expense : {{totalexp}}</h4>    
        </div>
    </div>
    
    <div class="container" style="margin-top: 8%; margin-left: 30%;">
        <button routerLink="/add-income" class="btn btn-primary" style="margin-right: 3%;">Add Income</button>
        <button routerLink="/add-expense" class="btn btn-primary">Add Expense</button>
    </div>

</div>
