
<div class="container">
    <span class="">
        <h2 style="display: inline-block;">Welcome to Daily Expense Manager</h2>
        <button class="btn btn-secondary" style="display: inline-block; margin-left: 5%;" routerLink="">Logout</button>
    </span>
    <hr>
    <!-- put data here -->

    <div class="container">
        <h4>List of Incomes</h4>
        <hr>
        <table>
            <tr>
                <th>ID.</th>
                <th>Category ID</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Income Date</th>
            </tr>
            <tr *ngFor="let money of incomes">
                <td>{{money.id}}</td>
                <td>{{money.category_id}}</td>
                <td>{{money.amount}}</td>
                <td>{{money.description}}</td>
                <td>{{money.date}}</td>
            </tr>
        </table>
    </div>


    <!-- <div *ngFor="let money of incomes">
        <p>{{money.id}}</p>
        <p>{{money.category_id}}</p>
        <p>{{money.amount}}</p>
        <p>{{money.description}}</p>
        <p>{{money.date}}</p>
    </div> -->

    <!-- <hr> -->
 
    <div class="container" style="margin-top: 8%;">
        <h4>List of Expenses</h4>
        <hr>
        <table>
            <tr>
                <th>ID.</th>
                <th>Category ID</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Income Date</th>
            </tr>
            <tr *ngFor="let money of expenses">
                <td>{{money.id}}</td>
                <td>{{money.category_id}}</td>
                <td>{{money.amount}}</td>
                <td>{{money.description}}</td>
                <td>{{money.date}}</td>
            </tr>
        </table>
    </div>


    <!-- <div *ngFor="let money of expenses">
        <p>{{money.category_id}}</p>
        <p>{{money.amount}}</p>
        <p>{{money.description}}</p>
        <p>{{money.date}}</p>
    </div> -->
    
    
    <div class="container" style="margin-top: 8%; margin-left: 30%;">
        <button routerLink="/add-income" class="btn btn-primary" style="margin-right: 3%;">Add Income</button>
        <button routerLink="/add-expense" class="btn btn-primary">Add Expense</button>
    </div>

</div>
