table{
    width: 100%;
    font-size: large;
}

tr{
    text-align: center;
}

th{
    text-align: center;
}

.to-update{
    cursor:pointer;
}

.to-update:hover{
    background-color: bisque;
    cursor: pointer;
}

i:hover{
    color: red;
}