<div>
    <div [hidden]="submitted">
        <h2>Add Income</h2>
        <form (ngSubmit)="onSubmit()" [formGroup]="moneyFormGroup">
            <div class="">
                <label>Date</label>
                <input type="text" class="" id="name" name="name" formControlName="name">
                <div [hidden]="moneyFormGroup.get('name')?.valid || moneyFormGroup.get('name')?.pristine" class="alert alert-danger"> Name cannot be empty
                </div>
            </div>
            <div class="">
                <label>Category</label>
                <input type="text" maxlength="8"  name="phone" formControlName="phone">
                <div [hidden]="moneyFormGroup.get('phone')?.valid || moneyFormGroup.get('phone')?.pristine" class="alert alert-danger"> Phone can not be empty
                </div>
            </div>
            <div class="">
                <label>Skill</label>
                <input type="text" name="skill" formControlName="skill">
                <div [hidden]="moneyFormGroup.get('skill')?.valid || moneyFormGroup.get('skill')?.pristine" class="alert alert-danger"> Skill cannot be empty
                </div>
            </div>
            <div class="">
                <label>Description</label>
                <input type="text" name="notes" formControlName="notes">
                <div [hidden]="moneyFormGroup.get('notes')?.valid || moneyFormGroup.get('notes')?.pristine" class="alert alert-danger"> Description cannot be empty
                </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!moneyFormGroup.valid">submit</button>
        </form>
    </div>
</div>